<section>
  <h1>Register</h1>

  <%= form_with model: @user, url: '/register' do |form| %>
    <div class="field">
      <label for="email">Email:</label>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <label for="name">Name:</label>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <label for="password_confirmation">Confirm Password:</label>
      <%= form.password_field :password_confirmation %>
    </div>

    <%= form.submit "Register" %>
  <% end %>
</section>
